body {
    background-color: rgb(245,245,240);
    background-image: url('/static/img/home_background.jpg');
    background-repeat: no-repeat;
    background-position: right bottom;
}

a:link {
    text-decoration: none;
    color: #5A6CE6;
}
a:visited {
    text-decoration: none;
    color: #5A6CE6;
}
a:hover {
    text-decoration: underline;
    color: #5A6CE6;
}

h1 {
    font-family: "微软雅黑","黑体","宋体";
}

.home {
    margin: auto;
    margin-top: 50px;
    text-align: center;
}

.slogan {
    font-size: 16pt;
    font-family: "Microsoft YaHei";
    text-align: center;
}

.login {
    margin-top: 50px;
    text-align: center;
}

